name: atnd_icons
description: atnd_icons for flutter. PDF String. Please Using [flutter_svg](https://pub.dev/packages/flutter_svg) to showing the icon.
version: 1.0.0
homepage: https://github.com/LunaGao/ant-design-icons-angular-icons-flutter

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
